<section id="contact-info" class="bg-dark">
    <div class="container">
        <div class="box">
            <i class="fas fa-hotel fa-3x"></i>
            <h3>Location</h3>
            <p>Riyadh, King Saudi University</p>
        </div>
        <div class="box">
            <i class="fas fa-utensils fa-3x"></i>
            <h3>Phone Number</h3>
            <p>0987654321 Riyadh</p>
        </div>
        <div class="box">
            <i class="fas fa-envelope fa-3x"></i>
            <h3>Email</h3>
            <p>fakeEmail@HRY.com</p>
        </div>
    </div>
</section>
<footer id="main-footer">
    <p>Hotel HRY &copy; <?php $date=getdate(); echo $date["year"];?> all right reversed</p>
</footer>
</body>

</html>